# BRIJ-TUTOURIAL's...

## Multiple Chioce Questions...
### Week 2


#### 1. What will be the output of the following Python code?

In [1]:
print("Welcome to the Python".split())

['Welcome', 'to', 'the', 'Python']

#### 2. What will be the output of following code snippet?

In [2]:
s = 'para'
t = 'mesh'
print(2*s+t)
print(2*(s+t))
print('meshra' in 2*t + 'ramesh')
print('Ramesh' in 2*s+t)

paraparamesh
parameshparamesh
True
False

#### 3. What is the output from this print() function call:

In [3]:
print(
'$Hai $Bye $Wei'.count('$'),
'$Cat $Dog $mad'.count('$',5,10),
'$New $USE $FAQ300'.count('$',5),
)

3 1 2

#### 4. Write the output of the following statement.

In [4]:
str1 = "T&P"
for i in str1:
    print(i)
    print(i, end =' ')
    print(i, end = '#')

T
T T#&
& &#P
P P#

#### 5. Write the output of the following.

In [5]:
S = "Welcome to my Blog"
print(S[2:3])
print(S[2:10])
print(S[-2:])
print(S[-10:-2:2])

l
lcome to
og
t yB

#### 6. Write the output of following.

In [6]:
str1 = "PYTHON"
print(len(str1))
str2 = " WE ARE BEST "
print(len(str2))
print(len(str2.lstrip()))

6
13
12

#### 7. Write the output of following.

In [8]:
str1 = "I went to Mumbai"
print(str1.replace("Mumbai","Chennai"))
print(str1)

I went to Chennai
I went to Mumbai

#### 8. Write the output of the following:

In [10]:
s = "Python Session"
print(s.upper())
print(s.lower())
print(s.islower())
print(s.isupper())
print(s.isalpha())
print(s.isdigit())
print(s.capitalize())

PYTHON SESSION
python session
False
False
False
False
Python session

#### 9. Which of the following is an concatenation?

a. 6 + 3

b. '6' + '3'

c. 'a' + 'b' + 'c'

In [11]:
'a' + 'b' + 'c'

'abc'

#### 10. What will be the output of the following code?

In [12]:
x = "abcd"
for i in range(len(x)):
    print(i)

0
1
2
3

### Week 3

#### 8. str1[n:m] returns all the characters starting from str1[n] till str1[m-1]. (T/F)
#### True

#### 9. str[11:5] will return ______

#### empty string